@import '../ulils/text.scss';

.button {
  padding: 16px 36px;
  background: var(--primary);
  border-radius: 8px;
  border: 2px solid transparent;

  $color: rgba(0, 0, 0, 0.8);
  @include font(15px, $color: $color);

  text-decoration: none;

  transition: 0.3s;

  &:hover {
    background: var(--primary-hover);
    color: $color;
    cursor: pointer
  }

  &:active {
    background: var(--primary-active);
    color: $color;
  }

  &:focus {
    background: var(--primary);
    border: 2px solid rgba(51, 51, 51, 0.48);
    color: $color;
  }
}
